[Unit]
Description=TaskForceApp

[Service]
WorkingDirectory=/home/TaskForceApp/bin/Release/net6.0/publish/ 
ExecStart=/usr/bin/dotnet /home/PROJECT_NAME/bin/Release/net6.0/publish/TaskForceApp.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-TaskForceApp
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false 

[Install]
WantedBy=multi-user.target